.education-header {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.education-container {
    margin-bottom: 1rem;
}

.education-first-line-container {
    display: flex;
}

.education-first-line-container > .edit-button,
.education-first-line-container > .edit-button > .edit-icon {
    height: inherit;
}

.education-result {
    text-decoration: underline;
}

.education-form-one,
.education-form-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-input-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 1rem);
}

.education-input {
    width: 20ch;
}

.education-button-container {
    display: flex;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .education-input-container {
        width: calc(100% - 3rem)
    }
    .education-input {
        width: 50ch;
    }
}

.education-break {
    all: unset; 
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    margin: 1.5rem 0;
}