.experience-header {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.experience-title-container {
    display: flex;
    align-items: center;
}

.experience-container {
    margin-bottom: 1rem;
}

.start-date {
    margin-bottom: 0.5rem;
}

.experience-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-form-general-header {
    margin-bottom: 0.4rem;
}

.experience-input-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 1rem);
}

.experience-input {
    width: 20ch;
}

.experience-organization {
    line-height: 1.2;
    font-size: 1.1rem;
}

.experience-designation {
    font-style: italic;
    font-weight: 400;
}

.experience-button-container {
    display: flex;
    margin-top: 1rem;
}

.bullet-input-section {
    width: 100%;
}

.bullet-input {
    width: calc(100% - 1rem);
}

@media (min-width: 768px) {
    .experience-header {
        font-size: 1.4rem;
    }
    .experience-input-container {
        width: calc(100% - 3rem)
    }
    .experience-input {
        width: 50ch;
    }
    .bullet-input {
        width: calc(100% - 2rem);
    }
}

.experience-break {
    all: unset; /* resets default browser styles */
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    margin: 1rem 0;
}