.general-info-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
}

.general-info-left {
    max-width: 30rem;
}

.cv-title-container {
    display: flex;
}

.summary-container {
    display: flex;
    align-items: center;
}

.summary {
    line-height: 1.1;
}

.summary-form {
    width: calc(100vw - 4rem);
}

.summary-input {
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.summary-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.phone-number,
.email,
.address-line-1,
.address-line-2,
.postcode,
.country {
    line-height: 1.1;
}

.general-info-break {
    all: unset; /* resets default browser styles */
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    margin: 0.5rem 0;
}

@media (min-width: 768px) {
    .general-info-container {
        gap: 2rem;
    }
    .cv-title {
        font-size: 2rem;
    }
    .summary-form {
        width: calc(var(--cv-width) - 20rem);
    }
}
