.general-info-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
}

.general-info-left {
    max-width: 30rem;
}

.cv-title-container {
    display: flex;
    gap: 0.5rem;
}

.summary {
    line-height: 1.1;
}

.phone-number,
.email,
.address-line-1,
.address-line-2,
.postcode,
.country {
    line-height: 1.1;
}

.general-info-break {
    all: unset; /* resets default browser styles */
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    margin: 0.5rem 0;
}

@media (min-width: 768px) {
    .general-info-container {
        gap: 2rem;
    }
    .cv-title {
        font-size: 2rem;
    }
}
