:root {
    --roboto: "Roboto", Arial, Helvetica, sans-serif;
    --playfair-display: "Playfair Display", "Times New Roman", Times, serif;
    --cv-width: 794px; /* Corresponds with A4 paper */
}

.app-container {
    font-family: var(--roboto);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto
}